<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:p="http://www.springframework.org/schema/p"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
	        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" use-expressions="true">
        <access-denied-handler error-page="/WEB-INF/views/error403.jsp"/>
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/register" access="permitAll"/>
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/index" access="permitAll"/>
        <form-login
                login-page="/login"
                default-target-url="/home"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/login?logout" delete-cookies="JSESSIONID"/>
        <remember-me token-validity-seconds="86400" key="uniqueAndSecret"/>
        <csrf/>
    </http>

    <beans:bean name="requestDataValueProcessor"
                class="org.springframework.security.web.servlet.support.csrf.CsrfRequestDataValueProcessor"/>

    <beans:bean id="userDetailsService" class="com.zhytnik.library.security.UserInfoService"/>

    <beans:bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider"
                p:userDetailsService-ref="userDetailsService"/>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.authentication.encoding.MessageDigestPasswordEncoder">
        <beans:constructor-arg name="algorithm" value="SHA-256"/>
    </beans:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="csrfTokenRepository"
                class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
        <beans:property name="headerName" value="X-XSRF-TOKEN"/>
    </beans:bean>
</beans:beans>